.hello__title{
    margin-left: 100px;
    width: 729px;
    height: 80;
    font-family: "CircularStd" ,sans-serif;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: -1.875789999961853px;
    text-align: center; 
    color: #FFFFFF;    
}
.hello__text{
    margin-left: 100px;
    width: 689px;
    height: 39px;
    font-family: "CircularStd" ,sans-serif;
    font-size: 21px;
    line-height: 39px;
    letter-spacing: -0.6565263867378235px;
    text-align: center;
    color: #FFFFFFB2;  
}